<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.traceback.dao.LandBlockMapper">
    <resultMap id="BaseResultMap" type="com.traceback.pojo.LandBlock">
        <constructor>
            <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="base_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="area" jdbcType="DECIMAL" javaType="java.math.BigDecimal"/>
            <arg column="soil" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="status" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="remark" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="gmt_create" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="gmt_modified" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="modified_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        id, base_id, name, area, soil, status, remark, gmt_create, gmt_modified, modified_id
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from stm_land_block_inf
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from stm_land_block_inf
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.traceback.pojo.LandBlock">
        insert into stm_land_block_inf (id, base_id, name,
        area, soil, status,
        remark, gmt_create, gmt_modified,
        modified_id)
        values (#{id,jdbcType=INTEGER}, #{baseId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
        #{area,jdbcType=DECIMAL}, #{soil,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER},
        #{remark,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP},
        #{modifiedId,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.traceback.pojo.LandBlock">
        insert into stm_land_block_inf
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="baseId != null">
                base_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="area != null">
                area,
            </if>
            <if test="soil != null">
                soil,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtModified != null">
                gmt_modified,
            </if>
            <if test="modifiedId != null">
                modified_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="baseId != null">
                #{baseId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="area != null">
                #{area,jdbcType=DECIMAL},
            </if>
            <if test="soil != null">
                #{soil,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModified != null">
                #{gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="modifiedId != null">
                #{modifiedId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.traceback.pojo.LandBlock">
        update stm_land_block_inf
        <set>
            <if test="baseId != null">
                base_id = #{baseId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="area != null">
                area = #{area,jdbcType=DECIMAL},
            </if>
            <if test="soil != null">
                soil = #{soil,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="modifiedId != null">
                modified_id = #{modifiedId,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.traceback.pojo.LandBlock">
        update stm_land_block_inf
        set base_id = #{baseId,jdbcType=INTEGER},
        name = #{name,jdbcType=VARCHAR},
        area = #{area,jdbcType=DECIMAL},
        soil = #{soil,jdbcType=VARCHAR},
        status = #{status,jdbcType=INTEGER},
        remark = #{remark,jdbcType=VARCHAR},
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
        modified_id = #{modifiedId,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>